.createdTasks {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.createdTasks strong {
  font-size: 0.875rem;
  color: var(--blue);
  line-height: 1;
}

.labelTasks {
  background: var(--gray-400);
  height: 19px;
  border-radius: 99px;
  display: inline-block;
  padding: .125rem .5rem;
  color: var(--gray-200);
  font-weight: 700;
  font-size: 0.75rem;
}

.finishedTasks {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.finishedTasks strong {
  font-size: 0.875rem;
  color: var(--purple);
  line-height: 1;
}
